@font-face {
    font-family: 'Gadimon', serif;
    src: url('../../assets/fonts/gadimon-font/Gadimon-ZV2rK.otf') format('otf')
         url('../../assets/fonts/gadimon-font/Gadimon-ZV2rK.ttf') format('truetype');
    font-weight: 400; 
}