@use '../../partials/color-modifier' as *;


.sixth {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.long-box {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    &__box-7, &__box-6, &__box-5, &__box-4 {
        height: 100%;
        width: 100%;
        z-index: 10;
    }
    @include color-modifier;
}