@keyframes long-box-motion {
    0% {
        top: 0;
    }
    50% {
        top: 0.25rem
    }
    100% {
        top: 0;
    }
}

@keyframes idle {
    0% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(180deg)
    }
}

.sixth {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.long-box {
    display: flex;
    &__box-7 {
        position: relative;
        animation: long-box-motion 3.5s ease-in-out infinite;
        height: 100%;
        width: 100%;
        // margin-left: 1rem;
        z-index: 10;
        animation: idle 0.75s ease-in-out 0.7s;
    }
    &__box-6 {
        position: relative;
        animation: long-box-motion 3.5s ease-in-out infinite;
        height: 100%;
        width: 100%;
        // margin-left: 1rem;
        z-index: 11;
        animation: idle 0.75s ease-in-out 0.7s;
    }
    &__box-5 {
        position: relative;
        animation: long-box-motion 3.8s ease-in-out infinite;
        height: 100%;
        width: 100%;
        // margin-left: 1rem;
        z-index: 12;
        animation: idle 0.75s ease-in-out 0.6s;
    }
    &__box-4 {
        position: relative;
        animation: long-box-motion 4.5s ease-in-out infinite;
        height: 100%;
        width: 100%;
        // margin-left: -9rem;
        z-index: 13;
        animation: idle 0.75s ease-in-out 0.50s;

        @media screen and (min-width: 900px) {
            // margin-left: 6rem;
            transition: all 0.2s;
        }
    }
    &--30 {
        background-color: hsl(30, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(30, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(30, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;   
        }
        &--high-attack {
            background-color: hsl(30, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(30, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;   
        }
    }

    &--60 {
        background-color: hsl(60, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;

        &--medium-attack {
            background-color: hsl(60, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(60, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;   
        }
        &--high-attack {
            background-color: hsl(60, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(60, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;   
        }
    }

    &--90 {
        background-color: hsl(90, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(90, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(90, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in; 
            }
        &--high-attack {
            background-color: hsl(90, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(90, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in; 
            }
        
    }
    &--120 {
        background-color: hsl(120, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(120, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(120, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(120, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(120, 100%, 55%);
            // transform: scale(1, 1.1);
            transition: all 0.1s ease-in;
            }
    }
    &--150 {
        background-color: hsl(150, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(150, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(150, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;  
            }
        &--high-attack {
            background-color: hsl(150, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(150, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;  
            }
    }
    &--180 {
        background-color: hsl(180, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(180, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(180, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in; 
            }
        &--high-attack {
            background-color: hsl(180, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(180, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in; 
            }
    }
    &--210 {
        background-color: hsl(210, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(210, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(210, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in; 
            }
        &--high-attack {
            background-color: hsl(210, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(210, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in; 
            }
    }
    &--240 {
        background-color: hsl(240, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(240, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(240, 100%, 55%);  
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(240, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(240, 100%, 55%);  
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
    }
    &--270 {
        background-color: hsl(270, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(270, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(270, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(270, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(270, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
    }
    &--300 {
        background-color: hsl(300, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(300, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(300, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(300, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(300, 100%, 55%);
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
    }
    &--330 {
        background-color: hsl(330, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(330, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(330, 100%, 55%);  
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(330, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(330, 100%, 55%);  
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
    }
    &--359 {
        background-color: hsl(360, 100%, 55%);
        // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
        &--medium-attack {
            background-color: hsl(360, 100%, 55%);
            box-shadow: 0px 0px 0.3rem 0.3rem hsl(360, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
        &--high-attack {
            background-color: hsl(360, 100%, 55%);
            box-shadow: 0px 0px 1rem 1rem hsl(360, 100%, 55%); 
            // transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
            }
    }

    &--short-release {
        background-color: white;
        transition: all 0s linear 0s;
        &--dark-mode {
            background-color: black
        }
    }

    &--medium-release {
        background-color: white;
        transition: all 0.5s linear 0s;

        &--dark-mode {
            background-color: black
        }
    }

    &--long-release {
        background-color: white;
        transition: all 2s linear 0s;
        &--dark-mode {
            background-color: black
        }
    }
}