@use '../../partials/color-modifier' as *;

@keyframes idle {
    0% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(180deg)
    }
}

.sixth {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.long-box {
    position: relative;
    display: flex;
    
    &__box-0 {
        background-color: blue;
        height: 100%;
        width: 100%;
        z-index: 6;
    }
    &__box-1 {
        height: 100%;
        width: 100%;
        z-index: 6;
    }
    &__box-2 {
        height: 100%;
        width: 100%;
        z-index: 7;
    }
    &__box-3 {
        height: 100%;
        width: 100%;
        z-index: 8;
    }

    @include color-modifier;
}