@keyframes long-box-motion {
    0% {
        top: 0;
    }
    50% {
        top: 0.25rem
    }
    100% {
        top: 0;
    }
}

.sixth {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    position: relative;
    // margin: 0 5rem 0 5rem;

    transform: rotateZ(90deg);

    @media screen and (min-width: 900px) {
        transform: rotateZ(0deg);
        transition: all 0.5s;
    }
}

.long-box {
    position: relative;
    display: flex;
    background-color: white;
    
    &__box-0 {
        position: relative;
        animation: long-box-motion 2.8s ease-in-out infinite;
        height: 10.5rem;
        width: 1.5rem;
        // border: 4px solid black;
        margin-right: 1rem;
        z-index: 6;

    }
    &__box-1 {
        position: relative;
        animation: long-box-motion 2.8s ease-in-out infinite;
        height: 15.5rem;
        width: 2rem;
        // border: 4px solid black;
        margin-right: 1rem;
        z-index: 6;
    }
    &__box-2 {
        position: relative;
        animation: long-box-motion 3.7s ease-in-out infinite;
        height: 20.5rem;
        width: 2.5rem;
        // border: 4px solid black;
        margin-right: 1rem;
        z-index: 7;
    }
    &__box-3 {
        position: relative;
        animation: long-box-motion 4.5s ease-in-out infinite;
        height: 25rem;
        width: 3rem;
        // border: 4px solid black;
        margin-right: -9rem;
        background-color: white;
        z-index: 8;

        @media screen and (min-width: 900px) {
            margin-right: 6rem;
        }
    }

    &--30 {
        background-color: hsl(30, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }

    &--60 {
        background-color: hsl(60, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }

    &--90 {
        background-color: hsl(90, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--120 {
        background-color: hsl(120, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--150 {
        background-color: hsl(150, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--180 {
        background-color: hsl(180, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--210 {
        background-color: hsl(210, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--240 {
        background-color: hsl(240, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;

    }
    &--270 {
        background-color: hsl(270, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--300 {
        background-color: hsl(300, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }
    &--330 {
        background-color: hsl(330, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }

    &--359 {
        background-color: hsl(360, 100%, 50%);
        transform: scale(1, 1.1);
        transition: all 0.1s ease-in;
    }

    &--regular {
        background-color: #EEE;
        transition: all 0.75s ease-out 0.2s;
    }
}