@keyframes pulse {
    0% {
        background-color: #F259FF;
        transform: scale(1.2, 1.2)
    }
    20% {
        background-color: #F259FF;
        transform: scale(1.2, 1.2)
    }
    25% {
        transform: scale(1, 1);
        background-color: #EEE;
    }

    98% {
        background-color: #EEE;
        transform: scale(1, 1)
    }

    100% {
        background-color: #F259FF;
        transform: scale(1.2, 1.2)
    }
}

.squares {
    height: 4rem;
    // margin: 0 1rem;
    &__square-1, &__square-2, &__square-3, &__square-4,
    &__square-5, &__square-6, &__square-7, &__square-8 {
        background-color: #EEE;
        padding: 2.5rem;
    }

    &--30 {
        background-color: hsl(25, 100%, 45%);
        transform: scale(1.1, 1.1);   
    }
    
    &--60 {
        background-color: hsl(55, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    
    &--90 {
        background-color: hsl(85, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--120 {
        background-color: hsl(115, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--150 {
        background-color: hsl(145, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--180 {
        background-color: hsl(175, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--210 {
        background-color: hsl(205, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--240 {
        background-color: hsl(235, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--270 {
        background-color: hsl(265, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--300 {
        background-color: hsl(295, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--330 {
        background-color: hsl(325, 100%, 45%);
        transform: scale(1.1, 1.1)
    }
    &--359 {
        background-color: hsl(355, 100%, 45%);
        transform: scale(1.1, 1.1)
    }

    &--regular {
        background-color: #EEE;
        // transition: all 0.1s ease-out 0.1s;
    }
    
}

.squares-container {
    margin: 0 auto;
    max-width: 35%;
    flex-wrap: wrap;
    position: relative;
    height: 12rem;
    // margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // border: .125rem solid black;
}