@keyframes spiral {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-180deg)
    }
}

@keyframes motion {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(0.5rem)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes spiralMotion {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes spiralMotionActive {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes eyeSpiral {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }

    50% {
        transform: scale(2, 2);
        opacity: 0.05;
    }

    75% {
        transform: scale(1.5, 1.5) rotate(0deg);
        opacity: 0.05;
        
    }

    100% {
        transform: scale(0.3, 0.3) rotate(180deg);
        opacity: 0;
    }
}

@keyframes eyePulse {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0
    }
    10% {
        transform: scale(1.0, 1.0);
        opacity: 0
    }
    
    75% {
        transform: scale(0.9, 0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(0.8, 0.8);
        opacity: 0;
    }
}

.visual-eye {
    display: flex;
    position: relative;
    animation: blink 0.46875s ease-in-out infinite;
    height: auto;
    width: 15rem;
    height: 12rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    animation: motion 8s ease-in infinite;
    &__spiral {
        position: relative;
        top: -3rem;
        // right: 2rem;
        left: -2rem;
        height: 18.75rem;
        z-index: 1;
        animation: spiralMotion 10s linear infinite forwards;

        &--active {
            animation: spiralMotion 5s linear infinite;
        }
    }

    &__eye {
        position: relative;
        right: 21rem;
        // left: 12rem;
        top: -3.5rem;
        height: 20rem;
        z-index: 3;
    }

    &__transparent-eye {
        visibility: hidden;
        opacity: 0.01;
        position: relative;
        right: 42rem;
        top: -6.5rem;
        z-index: 4;
        height: 24rem;

        &--active {
            visibility: visible;
            animation: eyeSpiral 30s ease-in-out infinite;
        }
    }

    &__transparent-eye-pulse {
        visibility: hidden;
        opacity: 0.2;
        position: relative;
        right: 66rem;
        top: -4.5rem;
        height: 22rem;
        z-index: 5;

        // &--active {
        //     visibility: visible;
        //     animation: eyePulse 0.00875s linear infinite;
        // }
    }
}