@keyframes spiral {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-180deg)
    }
}

@keyframes dropShadowTick {
    0% {
        filter: drop-shadow(3px 3px 1px rgb(0, 255, 255)) drop-shadow(-3px -3px 1px rgb(255, 0, 230));
    }
    100% {
        filter: drop-shadow(1px 1px 1px black)
    }
}

@keyframes motion {
    0% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(0.5rem)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes spiralMotion {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes spiralMotionActive {
    0% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes eyeSpiral {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }

    50% {
        transform: scale(2, 2);
        opacity: 0.5;
    }

    75% {
        transform: scale(1.5, 1.5) rotate(0deg);
        opacity: 0.75;
        
    }

    100% {
        transform: scale(0.3, 0.3) rotate(180deg);
        opacity: 0;
    }
}

@keyframes eyePulse {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0
    }
    10% {
        transform: scale(1.2, 1.2);
        opacity: 0
    }
    
    75% {
        transform: scale(0.9, 0.9);
        opacity: 0.7;
    }
    100% {
        transform: scale(0.8, 0.8);
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        right: 0rem
    }

    25% {
        right: -0.25rem
    }

    50% {
        right: 0.5rem
    }

    100% {
        right: 0rem;
    }
}

.visual-eye {
    display: flex;
    align-items: center;
    // animation: blink 0.46875s ease-in-out infinite;
    width: 20rem;
    height: 15rem;
    transition: all 1s ease-in-out;
    z-index: 500;
    position: relative;

    &__spiral {
        position: relative;
        top: 0rem;
        left: 3.75rem;
        height: 12rem;
        z-index: 1;
        animation: spiralMotion 12s linear infinite forwards;

        &--active {
            // filter: drop-shadow(3px 3px 1px rgb(0, 255, 255)) drop-shadow(-3px -3px 1px rgb(255, 0, 230));
            animation: dropShadowTick 0.046875s ease-in-out infinite;
        }

        &--inactive {
            transition: all 5s ease-in;
        }
    }

    &__eye {
        position: relative;
        right: 11rem;
        height: 16rem;
        z-index: 3;
    }

    &--active {
        animation: shake 0.0025s linear infinite;
    }

    
    &__transparent-eye {
        visibility: hidden;
        opacity: 0.01;
        position: relative;
        right: 36rem;
        top: -0.5rem;
        z-index: 4;
        height: 24rem;
        user-select: none;

        &--active {
            visibility: visible;
            // animation: eyeSpiral 20s ease-in-out infinite;
            filter: drop-shadow(3px 3px 1px rgb(0, 255, 255)) drop-shadow(-3px -3px 1px rgb(255, 0, 230));
        }
    }

    &__transparent-eye-pulse {
        opacity: 0;
        position: relative;
        right: 65rem;
        top: -1rem;
        height: 22rem;
        z-index: 2000;

        &--active {
            visibility: visible;
            opacity: 0.05;
            animation: eyePulse 0.00875s ease-in-out infinite;
            transition: all 0.0875s linear;
        }

        &--inactive {
            transition: all 0.0875s linear;
        }
    }
}