* {
  margin: 0;
  box-sizing: border-box;
}



.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    height: 5rem;
    padding: 0 1rem;
    background-color: white;
    z-index: 5;

    &__button {
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  list-style: none;
  height: 50rem;
  overflow-y: scroll;
  padding: 0;
  &__note {
    width: 100%;
    // padding: 0.5rem;
    // margin: 0.25rem;
    border: 1px solid black;
    cursor: pointer;
  
  &--active {
    background-color: black;
    color: white;
  }
  }
  
}

.sequencer {
  // align-self: flex-start;
  width: 70%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-left: -3rem;

  &__time {
    display: flex;
    list-style: none;
    padding: 0 0 0 54px;
    width: 100%;
    justify-content: space-around;
    margin: 0 0 1rem 0;
  }

  &__time-node {
    // opacity: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.2s;
    
    
    &--selected {
      background-color: black;
    }
  }

  &__piano-sequence {
    display: flex;
    height: 600px;
    margin-bottom: 2rem;
  }

  &__piano {
    height: 100%;
  }

  &__map {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    list-style: none;
    padding: 0 0 2px 0;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
  }

  &__drum-map {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    // padding-left: 3.375rem;
    list-style: none;
    width: 100%;
    justify-content: space-around;
  }
  
  &__icon-box {
    display: flex;
    margin-bottom: 1rem;
  }

  &__icon {
    width: 54px;
    margin-right: 0.15rem;
  }
  
  &__note {
    user-select: none;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
    border: 1px solid black;
    width: 1rem;
    height: 1.04rem;
    margin: 3.6px 0;
    border-radius: 8px;
    padding: 0;

    &--active {
      background-color: black;
      color: white;
    }

    &--selected {
      background-color: rgba(251, 255, 185, 1);
      color: black;
      transition: 0.1s linear;
    }
  }
}

.visual-container {
  &__middle {
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    margin-bottom: 3rem;
    
  }

  &__bottom {
    margin-bottom: 3rem;
  }
}

button {
  height: 1rem;
}
