@use './partials/color-modifier' as *;
@use './partials/fonts' as *;

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  min-width: 46.875rem;
}

.App {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  // transition: background-color 0.5s ease-in-out;

  &--dark-mode {
    background-color: black;
    // transition: background-color 0.5s ease-in-out;
  }

  &-header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px #EEE;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    z-index: 999;
    // transition: all 0.5s ease-in-out;

    &--dark-mode {
      background-color: black;
    }

    &__button {
      cursor: pointer;
      margin-right: 1rem;

      &:nth-child(2) {
        box-shadow: 0px 0px 8px 4px white;
      }

      &:hover {
        transform: scale(1.1, 1.1)
      }
    }

    &__right-nav {
      display: flex;
      height: 100%;
      align-items: center;
      align-self: flex-end;
      margin-left: auto;
    }

    &__logo {
      user-select: none;
      margin-left: auto;
      font-size: 3rem;
      color: white;
      text-shadow: 2px 2px #000,
      -2px -2px #000,
      3px 3px #000,
      -1px -3px #000,
      1px 1px 5px #000;
      font-family: "Gadimon", sans-serif;
      font-weight: 400;
      width: 12rem;
    }

    &__tempo-box {
      position: fixed;
      text-align: right;
      bottom: 1.75rem;
      right: 0rem;
      height: 3rem;
      width: 9rem;
      padding-right: 2rem;
      background-color: white;
      border-radius: 25px 0 0 25px;
      box-shadow: 0px 4px 8px #eee;
    }

    &__tempo {
      font-family: 'Open Sans';
      font-size: 12px;
      margin-left: 1.75rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    &__tempo-range {
      display: block;
      -webkit-appearance: none;
      width: 6rem;
      height: 0.3rem;
      background: #EEE;
      border-radius: 10px;
      margin-left: 1rem;

    }

    &__tempo-range::-webkit-slider-thumb {
      // -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #999;
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  list-style: none;
  height: 50rem;
  overflow-y: scroll;
  padding: 0;
  &__note {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
  
  &--active {
    background-color: black;
    color: white;
    }
  }
}

.dark-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  height: 1.5rem;
  border-radius: 1rem;
  width: 3rem;
  margin-left: auto;
  cursor: pointer;
  margin-right: 2rem;

  &__selector {
    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0.25rem;

    &--dark-mode {
      color: white;
      background-color: black;
    }
  }

  &--active {
    justify-content: flex-end;
    background-color: white;
    border: 1px solid black;
  }
}

.sequencer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // transition: all 1s ease-in-out;
  position: relative;
  z-index: 800;
  padding: 1rem;

  &__label {
    font-family: "Open Sans", sans-serif;
    text-align: center;

    &--dark-mode {
      color: white;
    }
  }

  
  &__time {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    position: relative;
    z-index: 1500;
  }

  &__time-node {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 1px black;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    font-size: 2rem;
    text-align: center;
    // transition: all 0.1s;

    &--selected {
      background-color: red;
      transform: scale(1, 2)
    }
  }

  &__piano-sequence {
    box-shadow: inset 0px 2px 8px black;
    display: flex;
    flex-direction: column;
    height: 15rem;
    overflow: overlay;
    width: 100%;
    background-color: rgba(255,255,255,0.5);

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:horizontal {
      height: 0.5rem;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: rgba(0, 0, 0);
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &__piano {
    height: 100%;
    margin-right: 0.35rem;
    position: relative; 
  }

  &__map {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    list-style: none;
    padding: 0 0 2px 0;
    height: 14rem;
    width: 100%;
    flex-wrap: wrap;
  }

  &__drum-map {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-self: center;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  &__icon-box {
    display: flex;
  }

  &__icon {
    width: 2rem;
    margin-right: 0.5rem;
  }
  
  &__note {
    user-select: none;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
    border: 1px solid rgb(222, 222, 222);
    width: 1rem;
    height: 1.5rem;
    margin: 0.1rem 0.2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 1px black;
    background-color: white;
    // transition: all 0.1s ease-in-out;
    
    &--dark-mode {
      background-color: black;
      color: white;
      border: 2px solid white;
    }
    
    &--active {
      color: white;
      position: relative;
      top: 3px;
      // transition: background-color 0.5s ease-in-out;
      box-shadow: 0px 0px 0px black;
      background-color: black;

    }
    
    &--active-dark {
      background-color: white; 
      color: black;
      border: 1px solid white;
    }
    &--selected {
      background-color: rgba(251, 255, 185, 1);
      color: black;
        }
  }
}

.visual-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 6rem;
  flex-direction: column;

  &__sequence-selection {
    display: flex;
    justify-content: center;
    position: relative; 
    z-index: 900;
    flex-wrap: wrap; 
    width: 50%;
    height: 6.25rem;
    margin: 2rem auto;
  }

  &__sequence-button {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0.75rem 0.5rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 0px grey;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    margin: 0.25rem;
    top: 0px;
    transition: top 0.1s, box-shadow 0.1s;

    &--active {
      background-color: black;
      top: 3.5px;
      color: white;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 0px black;
      transition: top 0.1s, box-shadow 0.1s;
    }
  }

  &__hihats-eye {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__settings {
    position: fixed;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    margin-top: 4rem;
    height: 30rem;
    background-color: white;
    z-index: 800;
    right: 0;
    box-shadow: 0px 4px 8px #999;
    
    &--open {
      display: flex;
      width: 22rem;
      z-index: 800;
    }

    &:first-child {
      visibility: visible;
    }
  }

  &__menu-button {
    position: relative;
    z-index: 600;
    width: 6rem;
    height: 2rem;
    text-transform: uppercase;
    border: 0;
    background-color: #ccc;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 0px #aaa;
    top: 0;

    &:active {
      transition: all 0.1s;
      top: 3px;
      box-shadow: 0px 0px 0px black;

    }

    &--dark-mode {
      background-color: white;
      color: black;
    }
  }
  &__settings-input {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 4rem;
    margin: 1rem;
    background: #EEE;
    cursor: pointer;
  }
  &__settings-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 0.5rem;
    background: #999;
    cursor: pointer;
  }
  
  &__settings-button {
    z-index: 50;
    display: flex;
    justify-content: center;
    position: relative;
    top: 3rem;
    width: 4rem;
    border-radius: 25px 25px 0 0;
    right: 2rem;
    height: 4rem;
    transform: rotateZ(270deg);
    background: white;
    border: 0px;
    box-shadow: 0px -3px 4px #999;
    cursor: pointer;
    
    &--open {
      right: 13rem;
    }
  }
  
  &__settings-icon {
    width: 70%;
    height: 100%;
    padding: 1rem 0.5rem;
    
    &:hover {
      animation: rotate 2s linear infinite;
    }
  }

  &__envelopes {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1rem auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 4px #ccc;
    border-radius: 1rem;
  }
  
  &__envelope-label {
    font-family: "Open Sans";
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__envelope {
    width: 100%;
    text-align: center;
  }
  
  &__ADSR {
      display: flex;
      justify-content: space-around;
      width: 100%;
      height: 8rem;
      padding: 1rem 0;
      background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(149,149,149,1) 100%);
      border-radius: 0 0 1rem 1rem;
    }
  
  &__label {
    display: none;
    font-family: 'Open Sans';
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;

    &--active {
      display: flex;
    }
  }

  &__scale-input {
    text-align: center;
  }

  &__middle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    // transition: all 0.5s ease-in-out;
  
    &--dark-mode {
      background-color: black;
      // transition: all 0.5s ease-in-out;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
    // transition: all 0.5s ease-in-out;
    
    &--dark-mode {
      background-color: black;
      // transition: all 0.5s ease-in-out;
    }
  }
}

button {
  height: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  
  &__logo {
    font-size: 2rem;
      color: white;
      text-shadow: 2px 2px #000,
      -2px -2px #000,
      3px 3px #000,
      -1px -3px #000,
      1px 1px 5px #000;
      font-family: "Gadimon", sans-serif;
      font-weight: 400;
      user-select: none;
  }
}
