@font-face {
  font-family: "Gadimon";
  src: local(Gadimon),
  url('./assets/fonts/gadimon-font/Gadimon-ZV2rK.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url('./assets/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  border: 2px solid black;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;

  &--dark-mode {
    background-color: black;
  }

  &-header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px #EEE;
    width: 100%;
    height: 4rem;
    padding: 0 2rem;
    background-color: white;
    z-index: 999;

    &--dark-mode {
      background-color: black;
    }

    &__button {
      cursor: pointer;
      margin-right: 1rem;
    }

    &__right-nav {
      display: flex;
      height: 100%;
      align-items: center;
      align-self: flex-end;
      margin-left: auto;
    }

    &__logo {
      user-select: none;
      margin-left: auto;
      font-size: 3rem;
      color: white;
      text-shadow: 2px 2px #000,
      -2px -2px #000,
      3px 3px #000,
      -1px -3px #000,
      1px 1px 5px #000;
      font-family: "Gadimon", sans-serif;
      font-weight: 400;
      width: 12rem;
    }

    &__tempo-box {
      position: fixed;
      text-align: right;
      bottom: 1.75rem;
      right: 0rem;
      height: 3rem;
      width: 9rem;
      padding-right: 2rem;
      background-color: white;
      border-radius: 25px 0 0 25px;
      box-shadow: 0px 4px 8px #eee;
    }

    &__tempo {
      font-family: 'Open Sans';
      font-size: 12px;
      margin-left: 1.75rem;
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    &__tempo-range {
      display: block;
      -webkit-appearance: none;
      width: 6rem;
      height: 0.3rem;
      background: #EEE;
      border-radius: 10px;
      margin-left: 1rem;

    }

    &__tempo-range::-webkit-slider-thumb {
      // -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #999;
      cursor: pointer;
    }
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  list-style: none;
  height: 50rem;
  overflow-y: scroll;
  padding: 0;
  &__note {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
  
  &--active {
    background-color: black;
    color: white;
    }
  }
}

.dark-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid black;
  height: 1.5rem;
  border-radius: 1rem;
  width: 3rem;
  margin-left: auto;
  cursor: pointer;
  margin-right: 2rem;

  &__selector {
    background-color: black;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0.25rem;

    &--dark-mode {
      background-color: black;
    }
  }

  &--active {
    justify-content: flex-end;
    background-color: white;
    border: 1px solid black;
  }
}

.sequencer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.6, 0.6);
  transition: all 1s ease-in-out;
  position: relative;
  z-index: 800;
  
  &:nth-child(5) {
    margin-top: -10rem;    
    @media screen and (min-width: 660px) {
      margin-top: 0;
    }
  }
  
  @media screen and (min-width: 460px) {
    transform: scale(0.8, 0.8);
  }
  
  @media screen and (min-width: 660px) {
    transform: scale(1, 1);
  }
  
  &__time {
    overflow-x: scroll;
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }

  &__time-node {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.2s;
    
    &--selected {
      background-color: black;
    }
  }

  &__piano-sequence {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 14.25rem;
    overflow-x: scroll;

    @media screen and (min-width: 660px) {
      margin-bottom: 1rem;
    }
  }

  &__piano {
    height: 100%;
    margin-right: 0.35rem;
    position: relative; 
  }

  &__map {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    list-style: none;
    padding: 0 0 2px 0;
    height: 14rem;
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid black;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
      height: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      border: 2px solid black;
      background-color: black;
    }
  }

  &__drum-map {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-self: center;
    align-items: center;
    list-style: none;
    justify-content: space-around;
  }
  
  &__icon-box {
    display: flex;
  }

  &__icon {
    width: 2rem;
    margin-right: 0.5rem;
  }
  
  &__note {
    user-select: none;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
    border: 2px solid black;
    width: 1rem;
    height: 1.5rem;
    margin: 0.1rem 0.2rem;
    border-radius: 1rem;
    
    
    
    &--dark-mode {
      background-color: black;
      color: white;
      border: 1px solid white;
    }
    
    &--active {
      color: white;
      transition: background-color 0.5s ease-in-out;
      background-color: black;

    }
    
    &--active-dark {
      background-color: white; 
      color: black;
      border: 1px solid white;
    }
    &--selected {
      background-color: rgba(251, 255, 185, 1);
      color: black;
      transition: all 0.1s ease-in-out;
    }
  }
}

.visual-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__sequence-selection {
    display: flex;
    justify-content: center;
    position: relative; 
    z-index: 900;
    flex-wrap: wrap; 
    width: 40%;
    height: 6.25rem;
    margin: 0 auto;
  }

  &__sequence-button {
    cursor: pointer;
    // margin: 0.5rem;
    background-color: white;
    color: black;
    padding: 0.75rem 0.5rem;
    border: 0;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: bold;

    &--active {
      background-color: black;
      color: white;
      border: 2px solid white;
    }
  }

  &__hihats-eye {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__settings {
    position: fixed;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    margin-top: 4rem;
    height: 30rem;
    background-color: white;
    z-index: 800;
    right: 0;
    box-shadow: 0px 4px 8px #999;
    
    &--open {
      display: flex;
      width: 22rem;
      z-index: 800;
    }

    &:first-child {
      visibility: visible;
    }
  }

  &__menu-button {
    position: relative;
    z-index: 10;
    width: 50%;
    height: 100%;
    border: 0;
    background-color: black;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;

    &--dark-mode {
      background-color: white;
      color: black;
    }
  }
  &__settings-input {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 4rem;
    margin: 1rem;
    background: #EEE;
    cursor: pointer;
  }
  &__settings-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 0.5rem;
    background: #999;
    cursor: pointer;
  }
  
  &__settings-button {
    z-index: 50;
    display: flex;
    justify-content: center;
    position: relative;
    top: 3rem;
    width: 4rem;
    border-radius: 25px 25px 0 0;
    right: 2rem;
    height: 4rem;
    transform: rotateZ(270deg);
    background: white;
    border: 0px;
    box-shadow: 0px -3px 4px #999;
    cursor: pointer;
    
    &--open {
      right: 13rem;
    }
  }
  
  &__settings-icon {
    width: 70%;
    height: 100%;
    padding: 1rem 0.5rem;
    
    &:hover {
      animation: rotate 2s linear infinite;
    }
  }

  &__envelopes {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
  }
  
  &__envelope-label {
    font-family: "Open Sans";
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
  }

  &__envelope {
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }
  
  &__ADSR {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 8rem;
  }
  
  &__label {
    display: none;
    font-family: 'Open Sans';
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;

    &--active {
      display: flex;
    }
  }

  &__scale-input {
    text-align: center;
  }

  &__middle {
    margin-top: 4.25rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
  
    &--dark-mode {
      background-color: black;
    }
  }

  &__bottom {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10rem;
    background-color: white;

    &--dark-mode {
      background-color: black;
    }
  }
}

button {
  height: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  
  &__logo {
    font-size: 2rem;
      color: white;
      text-shadow: 2px 2px #000,
      -2px -2px #000,
      3px 3px #000,
      -1px -3px #000,
      1px 1px 5px #000;
      font-family: "Gadimon", sans-serif;
      font-weight: 400;
      user-select: none;
  }
}
